$dark-mode-background: #1c1c1e;
$transition-speed: .3s;

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue"
  , "Apple SD Gothic Neo"
  , "Malgun Gothic"
  , "Nanum Gothic"
  , Helvetica
  , Arial
  , sans-serif;

  @media only screen and (min-width: 320px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 1224px) {
    font-size: 12px;
  }
}
