$ios-blue-color: #097afe;
$ios-lightblue-color: #cce4fd;

$light-pure-color: #ffffff;
$light-background-color: #f2f2f7;
$light-border-color: #c5c5c8;
$light-primary-text-color: #000000;
$light-secondary-text-color: #6d6d72;
$dark-background-color: #1c1c1e;
$dark-border-color: #3d3d40;
$transition-speed: .3s;

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue"
  , "Apple SD Gothic Neo"
  , "Nanum Gothic"
  , Helvetica
  , Arial
  , sans-serif;

  @media only screen and (min-width: 320px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 1224px) {
    font-size: 12px;
  }
}
