$ios-blue-color: #097afe;
$ios-lightblue-color: #cce4fd;

$light-pure-color: #ffffff;
$light-background-color: #f2f2f7;
$light-border-color: #c5c5c8;
$light-primary-text-color: #000000;
$light-secondary-text-color: #6d6d72;
$dark-background-color: #1c1c1e;
$dark-border-color: #3d3d40;
